{% extends 'base.html' %}

{% block content %}
  <h1>Edit Article</h1>

  <form action="{% url 'articles:update' article.pk %}" method="POST">
    {% csrf_token %}
    <label for="title">Title : </label>
    <input type="text" name="title" id="title" required value="{{ article.title }}">
    <br>

    <label for="content">Content : </label>
    <textarea name="content" id="content" required>{{ article.content }}</textarea>
    <br>

    <button>수정하기</button>
  </form>

  <a href="{% url 'articles:detail' article.pk %}">돌아가기</a>
  <a href="{% url 'articles:index' %}">Back to List</a>
{% endblock content %}