/* 03_community.css */
/* 아래에 코드를 작성해 주세요. */
.movie-list {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 20px 30px 0 30px;
  
}

.movie-list p {
  margin-bottom: 16px;
}

.movie-list h5 {
  margin-bottom: 16px;
}